[Unit]
Description=Interface for Myblog
After=network.target

[Service]
ExecStart=/usr/local/bin/MyBlog/main
WorkingDirectory=/usr/local/bin/MyBlog
EnvironmentFile=/usr/local/bin/MyBlog/.env
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
