[Unit]
Description=my_blog
After=network.target

[Service]
ExecStart=/usr/local/bin/my_blog/main
WorkingDirectory=/usr/local/bin/my_blog
EnvironmentFile=/usr/local/bin/my_blog/.env.prod
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
