@app-primary: #E8127E;
@app-secondary: #07F2E7;
@app-third: #060606;
@gray: #e8e8e8;
@pink: #FEB0B0;
@l-pink: #ffb9b9;
@t-pink: #8C8AA7;
@white: #fff;

.header {
  background-color: white;
  border-bottom: 1px solid @gray;
  justify-content: center;
  height: auto;
}

.header div {
  text-align: center;
}

main {
  background-color: white;
}

.content-pattern {
  padding: 1em 5em;
}

.layout {
  display: flex;
  align-items: center;
}

.fcenter {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sider-pattern {
  overflow: 'auto';
  height: 100vh;
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
}

.wrapper-form {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 1em;
}

aside {
  min-width: 230px !important;
  max-width: 230px !important;
  width: 230px !important;
  padding: 2em 0;
}

body {
  min-height: 100vh;
}

.w100 {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.w50 {
  min-width: 50%;
  max-width: 50%;
  width: 50%;
}

.w25 {
  min-width: 25%;
  max-width: 25%;
  width: 25%;
}

.mt-1 {
  margin-top: 1em;
}

.end {
  text-align: end;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 50% 50%;
}

.w100 {
  width: 100vw;
}

.h100 {
  max-height: 100vh;
  min-height: 100vh;
}

.alg-center {
  align-items: center;
}

.jst-center {
  justify-content: center;
}

.login {
  position: relative;
  background-size: cover;
  background-position: center;
}

.login .component-login {
  padding: 5em 2em;
}

form {
  min-width: 100%;
}

.logo {
  margin-bottom: 2em;
  padding: 3em;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content,
.ant-picker-calendar-date-content {
  overflow-y: hidden !important;
}

.learn:hover {
  cursor: pointer;
}

#arrow:hover {
  cursor: pointer;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  color: #111111;
  background: #FFFFFF;
  background-size: cover;
}

.intro-header .row {
  padding: 0 2em;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin-top: -500;
  font-size: 4.5em;
  font-weight: 800;

}

.intro-message>h3 {
  margin-top: 50;
  font-size: 2.5em;
  font-weight: 150;
  letter-spacing: 4;

}

.intro-header .intro-message>h4 {
  margin-top: 200;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 2;

}

.intro-header .webpage {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 70px;
  width: 100%;
  height: 420px;
  background: #EBF3FE;
  z-index: 1;
}

.intro-header .top-button-left {
  position: absolute;
  top: 2%;
  left: 3%;
  border-radius: 50%;
  width: 3.5%;
  height: 5%;
  background: #818D98;
  z-index: 2;
}

.intro-header .top-button-middle {
  position: absolute;
  top: 2%;
  left: 7%;
  border-radius: 50%;
  width: 3.5%;
  height: 5%;
  background: #818D98;
  z-index: 2;
}

.intro-header .top-button-right {
  position: absolute;
  top: 2%;
  left: 11%;
  border-radius: 50%;
  width: 3.5%;
  height: 5%;
  background: #818D98;
  z-index: 2;
}

.intro-header .bar {
  position: absolute;
  width: 100%;
  height: 3%;
  top: 10%;
  background: #52CABF;
  z-index: 2;
}

.intro-header .box-top-left {
  position: absolute;
  width: 40%;
  height: 35%;
  top: 18%;
  left: 8%;
  background: #52CABF;
  z-index: 2;
}

.intro-header .box-top-right {
  position: absolute;
  width: 40%;
  height: 35%;
  top: 18%;
  right: 8%;
  background: #FD7EA3;
  z-index: 2;

}


.intro-header .box-bottom-left {
  position: absolute;
  width: 40%;
  height: 35%;
  bottom: 8%;
  left: 8%;
  background: #FD7EA3;
  z-index: 2;

}

.intro-header .box-bottom-right {
  position: absolute;
  width: 40%;
  height: 35%;
  bottom: 8%;
  right: 8%;
  background: #52CABF;
  z-index: 2;

}

.intro-header .creature {
  position: absolute;
  border-radius: 50%;
  background: #52CABF;
  width: 30%;
  height: 40%;
  bottom: -10%;
  left: -20%;
  z-index: 3;
}

.intro-header .eye {
  position: absolute;
  background: white;
  width: 39%;
  height: 40%;
  border-radius: 50%;
  top: 25%;
  left: 30%;
}

.intro-header .antenna {
  position: absolute;
  top: -120%;
  left: 40%;
  height: 80%;
  width: 25%;
  background: #52CABF;
}

.intro-header .antenna2 {
  position: absolute;
  left: -100%;
  top: 10%;
  height: 80%;
  width: 25%;
  background: #52CABF;
  -ms-transform: rotate(-50deg);
  /* IE 9 */
  -webkit-transform: rotate(-50deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-50deg);
}

.intro-header .antenna3 {
  position: absolute;
  right: -90%;
  top: 90%;
  height: 80%;
  width: 25%;
  background: #52CABF;
  -ms-transform: rotate(-230deg);
  /* IE 9 */
  -webkit-transform: rotate(-320deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-230deg);
}

.intro-header .end {
  position: absolute;
  background: white;
  border: solid 3px #52CABF;
  border-radius: 50%;
  width: 170%;
  height: 55%;
  top: -20%;
  left: -35%;

}

.intro-header .shadow {
  position: absolute;
  background: #333333;
  width: 150%;
  bottom: -130%;
  height: 20%;
  left: -22%;
  border-radius: 50%;
  opacity: 0.3;
}

.intro-header .pupil {
  position: absolute;
  background: black;
  width: 54%;
  height: 58%;
  border-radius: 50%;
  top: 20%;
  left: 25%;
}

.component-notfound {
  max-height: 100vh;
  min-height: 100vh;
  background: @pink;
}

.box {
  width: 350px;
  height: 100%;
  max-height: 600px;
  min-height: 450px;
  background: @l-pink;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;

  .box__ghost {
    padding: 15px 25px 25px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);

    .symbol {
      &:nth-child(1) {
        opacity: .2;
        animation: shine 4s ease-in-out 3s infinite;

        &:before,
        &:after {
          content: '';
          width: 12px;
          height: 4px;
          background: @white;
          position: absolute;
          border-radius: 5px;
          bottom: 65px;
          left: 0;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      &:nth-child(2) {
        position: absolute;
        left: -5px;
        top: 30px;
        height: 18px;
        width: 18px;
        border: 4px solid;
        border-radius: 50%;
        border-color: @white;
        opacity: .2;
        animation: shine 4s ease-in-out 1.3s infinite;
      }

      &:nth-child(3) {
        opacity: .2;
        animation: shine 3s ease-in-out .5s infinite;

        &:before,
        &:after {
          content: '';
          width: 12px;
          height: 4px;
          background: @white;
          position: absolute;
          border-radius: 5px;
          top: 5px;
          left: 40px;
        }

        &:before {
          transform: rotate(90deg);
        }

        &:after {
          transform: rotate(180deg);
        }
      }

      &:nth-child(4) {
        opacity: .2;
        animation: shine 6s ease-in-out 1.6s infinite;

        &:before,
        &:after {
          content: '';
          width: 15px;
          height: 4px;
          background: @white;
          position: absolute;
          border-radius: 5px;
          top: 10px;
          right: 30px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      &:nth-child(5) {
        position: absolute;
        right: 5px;
        top: 40px;
        height: 12px;
        width: 12px;
        border: 3px solid;
        border-radius: 50%;
        border-color: @white;
        opacity: .2;
        animation: shine 1.7s ease-in-out 7s infinite;
      }

      &:nth-child(6) {
        opacity: .2;
        animation: shine 2s ease-in-out 6s infinite;

        &:before,
        &:after {
          content: '';
          width: 15px;
          height: 4px;
          background: @white;
          position: absolute;
          border-radius: 5px;
          bottom: 65px;
          right: -5px;
        }

        &:before {
          transform: rotate(90deg);
        }

        &:after {
          transform: rotate(180deg);
        }
      }
    }

    .box__ghost-container {
      background: @white;
      width: 100px;
      height: 100px;
      border-radius: 100px 100px 0 0;
      position: relative;
      margin: 0 auto;
      animation: upndown 3s ease-in-out infinite;

      .box__ghost-eyes {
        position: absolute;
        left: 50%;
        top: 45%;
        //transform: translate(-50%, -45%); 
        height: 12px;
        width: 70px;

        .box__eye-left {
          width: 12px;
          height: 12px;
          background: @l-pink;
          border-radius: 50%;
          margin: 0 10px;
          position: absolute;
          left: 0;
        }

        .box__eye-right {
          width: 12px;
          height: 12px;
          background: @l-pink;
          border-radius: 50%;
          margin: 0 10px;
          position: absolute;
          right: 0;
        }
      }

      .box__ghost-bottom {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        div {
          flex-grow: 1;
          position: relative;
          top: -10px;
          height: 20px;
          border-radius: 100%;
          background-color: @white;

          &:nth-child(2n) {
            top: -12px;
            margin: 0 -0px;
            border-top: 15px solid @l-pink;
            background: transparent;
          }
        }
      }
    }

    .box__ghost-shadow {
      height: 20px;
      box-shadow: 0 50px 15px 5px #ffffff60;
      border-radius: 50%;
      margin: 0 auto;
      animation: smallnbig 3s ease-in-out infinite;
    }
  }

  .box__description {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    .box__description-container {
      color: @white;
      text-align: center;
      width: 200px;
      font-size: 16px;
      margin: 0 auto;

      .box__description-title {
        font-size: 24px;
        letter-spacing: .5px;
      }

      .box__description-text {
        color: @t-pink;
        line-height: 20px;
        margin-top: 20px;
      }
    }

    .box__button {
      display: block;
      position: relative;
      background: @pink;
      border: 1px solid transparent;
      border-radius: 50px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      color: @white;
      line-height: 50px;
      font-size: 18px;
      padding: 0 70px;
      white-space: nowrap;
      margin-top: 25px;
      transition: background .5s ease;
      overflow: hidden;
      -webkit-mask-image: -webkit-radial-gradient(white, black);

      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 100px;
        background: @white;
        bottom: -25px;
        left: 0;
        border: 2px solid @white;
        transform: translateX(-50px) rotate(45deg);
        transition: transform .5s ease;
      }

      &:hover {
        background: transparent;
        border-color: @white;

        &:before {
          transform: translateX(250px) rotate(45deg);
        }
      }
    }
  }
}

//keyframes
@keyframes upndown {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes smallnbig {
  0% {
    width: 90px;
  }

  50% {
    width: 100px;
  }

  100% {
    width: 90px;
  }
}

@keyframes shine {
  0% {
    opacity: .2;
  }

  25% {
    opacity: .1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: .2;
  }
}